[submodule "mpython-docs"]
	path = mpython-docs
	url = https://github.com/labplus-cn/mpython-docs.git
[submodule "port/usercmodule/lv_binding_micropython"]
	path = port/usercmodule/lv_binding_micropython
	url = https://github.com/labplus-cn/lv_binding_micropython.git
