CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/mpython_v3/partitions-16MiB.csv"
CONFIG_MPYTHON_V3_BOARD=y
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y

CONFIG_SPI_MASTER_ISR_IN_IRAM=
CONFIG_SPI_SLAVE_ISR_IN_IRAM=

CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y

CONFIG_LOG_ENABLE=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL=3

CONFIG_SR_WN_WN9_NIHAOXIAOZHI_TTS=y
CONFIG_SR_MN_CN_MULTINET7_QUANT=y
CONFIG_S8=y

CONFIG_ESP_AUDIO_SIMPLE_PLAYER_RESAMPLE_EN=y
CONFIG_AUDIO_SIMPLE_PLAYER_RESAMPLE_DEST_RATE=16000
CONFIG_ESP_AUDIO_SIMPLE_PLAYER_CH_CVT_EN=y
CONFIG_AUDIO_SIMPLE_PLAYER_CH_CVT_DEST=2
CONFIG_ESP_AUDIO_SIMPLE_PLAYER_BIT_CVT_EN=y
CONFIG_AUDIO_SIMPLE_PLAYER_BIT_CVT_DEST_16BIT=y

CONFIG_GMF_AUDIO_EFFECT_INIT_ALC=y
CONFIG_GMF_AUDIO_EFFECT_INIT_CH_CVT=y
CONFIG_GMF_AUDIO_EFFECT_CH_CVT_DEST_CH=2
CONFIG_GMF_AUDIO_EFFECT_INIT_BIT_CVT=y
CONFIG_GMF_AUDIO_EFFECT_BIT_CVT_DEST_BITS=16
CONFIG_GMF_AUDIO_EFFECT_INIT_RATE_CVT=y
CONFIG_GMF_AUDIO_EFFECT_RATE_CVT_DEST_RATE=16000
CONFIG_GMF_AUDIO_EFFECT_RATE_CVT_COMPLEXITY=1
CONFIG_GMF_AUDIO_EFFECT_RATE_CVT_PERF_TYPE_MEMORY=y
CONFIG_GMF_AUDIO_EFFECT_RATE_CVT_PERF_TYPE=0
CONFIG_GMF_AUDIO_EFFECT_INIT_DEINTERLEAVE=y
CONFIG_GMF_AUDIO_EFFECT_INIT_INTERLEAVE=y
CONFIG_GMF_AUDIO_EFFECT_INIT_MIXER=y
CONFIG_GMF_AUDIO_EFFECT_INIT_EQ=y
CONFIG_GMF_AUDIO_EFFECT_INIT_SONIC=y
CONFIG_GMF_AUDIO_EFFECT_INIT_FADE=y


#
# GMF AI Audio
#
CONFIG_GMF_AI_AUDIO_INIT_AEC=n
CONFIG_GMF_AI_AUDIO_INIT_AFE=y

CONFIG_GMF_AI_AUDIO_MODEL_PARTITION="sr_module"
CONFIG_GMF_AI_AUDIO_AEC_CH_ALLOCATION="M"
CONFIG_GMF_AI_AUDIO_AFE_CH_ALLOCATION="M"

CONFIG_GMF_AI_AUDIO_AFE_VAD_ENABLE=y
CONFIG_GMF_AI_AUDIO_AFE_AEC_ENABLE=y
CONFIG_GMF_AI_AUDIO_WAKEUP_ENABLE=y
CONFIG_GMF_AI_AUDIO_VOICE_COMMAND_ENABLE=y
#CONFIG_GMF_AI_AUDIO_VAD_MODE=2
#CONFIG_GMF_AI_AUDIO_VAD_MIN_SPEECH=64
#CONFIG_GMF_AI_AUDIO_VAD_MIN_NOISE=100
# end of GMF AI Audio
